/* For all pages */
.all-page-container {
    height: 100%;
    max-height: 500px;
    overflow: auto;
  }

iframe,
object {
  height: 900px;
  width: 900px;
}

button {
  display: block;
  padding: 5px 40px;
  background: lightblue;
  color: white;
  margin: 10px auto;
}

.cursor-pointer {
  cursor: pointer;
}